<h2 style="text-align: center;" >الدراسة</h2>
<p>
    بعد الثانوية كنت أرغب في دراسة الطب البشري سعيت لتحقيق الأمر؛ وبالفعل حصلت على قبول من جامعة "<a href="https://www.aberdeen-.ac.uk/" style="color: gray; text-decoration: none;">Aberdeen</a>" وقبول آخر من جامعة "<a href="https://www.uclan.ac.uk/" style="color: gray; text-decoration: none;">Lancashire</a>" في الطب، لكنني لم أتمكن من متابعة الطريق، وتقدمت في ما بعد إلى جامعة وبالفعل حصلت على قبول من جامعة "<a href="https://www.uopeople.edu/" style="color: gray; text-decoration: none;">UOP</a>"  تخصص إدارة الأعمال ولكن لاحقًا بدلت تخصصي إلى علوم الحاسب وهذه هي سنتي الثانية.
</p><br>

<h1></h1>
<p>
    حضرت بعض الدورات الشرعية والدروس العلمية عند المشايخ، من أبرزها
مهمات العلم للشيخ صالح العصيمي.<br>
دورات معهد مرتقى للعلوم الشرعية.<br>
البناء المنهجي.<br>
إشراق.<br>
البناء الفكري.<br>
صناعة المحاور.<br>
تخصص السنة النبوية من برنامج صناعة المحاور.<br>
وبعض دروس مشايخنا بعضها على النت وبعضها حضورية مثل: صالح العصيمي وعبدالكريم الخضير، صالح بن عثيمين، عبد الرزاق البدر، عثمان الخميس، حسن بخاري، سليمان العيوني، أحمد السيد وغيرهم، في مختلف العلوم الشرعية مثل:
العقيدة، الفقه، أصول الفقه، التفسير وأصوله، الحديث، مصطلح الحديث، القراءات، التجويد، السيرة النبوية، النحو والصرف، البلاغة، التزكية.
<br>
والقسم الثاني متعلق بأصول الدين وما يتفرع منه مثل:
وجود الله، النبوة، نظرية المعرفة،  المنطق وأدوات المناظرة.
المذاهب الفكرية المعاصرة وتفرعاتها مثل: اللبرالية، العلمانية، الماركسية، الشيوعية، النسوية الإلحاد، النصرانية، المذاهب الغنوصية والديانات الشرقية.<br>
الفلسفة الحديثة ومذاهبها مثل: الوجودية، العدمية، العبثية، الأناركية، التاريخانية، التفكيكيَّة.
</p>
    أبرز الكتب التي قرأتها:
    <ol>
        <li>مقررات مهمات العلم.</li>
        <li>شموع النهار.</li>
        <li>سلطة الثقافة الغالبة.</li>
        <li>مآلات الخطاب المدني</li>
        <li>لأنك الله.</li>
        <li>التأويل الحداثي للتراث.</li>
        <li>ينبوع الغواية الفكرية.</li>
        <li>الداء والدواء.</li>
        <li>العالمانية طاعون العصر.</li>
        <li>بوصلة المصلح.</li>
        <li>مصادر المعرفة في الفكر الديني والفلسفي.</li>
        <li>النبأ العظيم.</li>
        <li>جماع العلم.</li>
        <li>رسالة في الطريق إلى ثقافتنا.</li>
    </ol>
    وغيرها، لكن حتى لا تطول القائمة.
<p>
    ومازلت في طريق طلب العلم، فالعلم بحر لا شاطئ له، ولا أدعي أني خبير في كل ما ذكرت بل أنا طالب علم متعطش للمعرفة ولازال هناك الكثير لأتعلم.<br>
    ولا أذكر هذا إلا للتعريف عن نفسي وليس للمباهاة أوالتحدي، فعن نافع عن ابن عمر رضي الله عنهما عن النبي صلى الله عليه وسلم قال: (من طلب العلم ليماري به السفهاء، أو ليباهي به العلماء، أو ليصرف وجوه الناس إليه فهو في النار)].<br>
وأخيرًا؛ إن أنا إلا بشر أصيب وأخطئ، فإن أصبت فمن الله وإن أخطأت فمن نفسي ومن الشيطان.<br>
وأسأل الله أن يغفر الزلل وأن يبارك في الأثر.
</p>
